**/*.yy.c

temp
.DS_Store
test
exercises/flex/ip-address/ip-address
exercises/flex/brazillian-plates/brazillian-plates
exercises/flex/brazillian-phone-numbers/brazillian_phone_numbers
grammar/grammar
exercises/flex/reverse-polish-notation/lexer
exercises/flex/language-tokenization/lexer
exercises/bison/reverse-polish-notation/rpn
exercises/bison/ast-stmts/ast-stmts
final_work/final_work
temp/.venv/bin/pip3
temp/.venv/bin/pip
temp/.venv/bin/cairosvg
final_work/.venv/bin/markdown_py
final_work/.venv/bin/panfl
final_work/.venv/bin/pip3
final_work/.venv/bin/panflute
final_work/.venv/bin/pip
final_work/.venv/bin/pygmentize
final_work/.venv/bin/cairosvg
final_work/src/pascal
final_work/.venv/bin/pyserial-miniterm
final_work/.venv/bin/pyserial-ports
final_work/.venv/bin/register-python-argcomplete
final_work/.venv/bin/python-argcomplete-check-easy-install-script
final_work/.venv/bin/activate-global-python-argcomplete
final_work/src/test
final_work/src/pascalm
final_work/tests/2-io-vars
final_work/tests/6-procs-params
final_work/tests/3-control-while-if
final_work/tests/1-repeat-until
final_work/src/teste
final_work/tests/4-for-repeat
